 .container {
      width: 410px;
      height: 280px;
      position: relative;
      margin: 0 auto 180px;
    
      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
           -o-perspective: 1100px;
              perspective: 1100px;
			 
    }

    #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: translateZ( -577px );
         -moz-transform: translateZ( -577px );
           -o-transform: translateZ( -577px );
              transform: translateZ( -577px );
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
    }

    #carousel figure {
      display: block;
      position: absolute;
      width: 372px;
      height: 432px;
      left: 10px;
      top: 10px;
     /*  border: 2px solid black; */
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
    }

    #carousel figure:nth-child(1) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(2) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(3) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(4) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(5) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(6) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(7) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(8) { background: rgba(255, 255, 255, 0.2); }
    #carousel figure:nth-child(9) { background: rgba(255, 255, 255, 0.2); }

    #carousel figure:nth-child(1) {
      -webkit-transform: rotateY(   0deg ) translateZ( 577px );
         -moz-transform: rotateY(   0deg ) translateZ( 577px );
           -o-transform: rotateY(   0deg ) translateZ( 577px );
              transform: rotateY(   0deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(2) {
      -webkit-transform: rotateY(  40deg ) translateZ( 577px );
         -moz-transform: rotateY(  40deg ) translateZ( 577px );
           -o-transform: rotateY(  40deg ) translateZ( 577px );
              transform: rotateY(  40deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(3) {
      -webkit-transform: rotateY(  80deg ) translateZ( 577px );
         -moz-transform: rotateY(  80deg ) translateZ( 577px );
           -o-transform: rotateY(  80deg ) translateZ( 577px );
              transform: rotateY(  80deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(4) {
      -webkit-transform: rotateY( 120deg ) translateZ( 577px );
         -moz-transform: rotateY( 120deg ) translateZ( 577px );
           -o-transform: rotateY( 120deg ) translateZ( 577px );
              transform: rotateY( 120deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(5) {
      -webkit-transform: rotateY( 160deg ) translateZ( 577px );
         -moz-transform: rotateY( 160deg ) translateZ( 577px );
           -o-transform: rotateY( 160deg ) translateZ( 577px );
              transform: rotateY( 160deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(6) {
      -webkit-transform: rotateY( 200deg ) translateZ( 577px );
         -moz-transform: rotateY( 200deg ) translateZ( 577px );
           -o-transform: rotateY( 200deg ) translateZ( 577px );
              transform: rotateY( 200deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(7) {
      -webkit-transform: rotateY( 240deg ) translateZ( 577px );
         -moz-transform: rotateY( 240deg ) translateZ( 577px );
           -o-transform: rotateY( 240deg ) translateZ( 577px );
              transform: rotateY( 240deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(8) {
      -webkit-transform: rotateY( 280deg ) translateZ( 577px );
         -moz-transform: rotateY( 280deg ) translateZ( 577px );
           -o-transform: rotateY( 280deg ) translateZ( 577px );
              transform: rotateY( 280deg ) translateZ( 577px );
    }
    #carousel figure:nth-child(9) {
      -webkit-transform: rotateY( 320deg ) translateZ( 577px );
         -moz-transform: rotateY( 320deg ) translateZ( 577px );
           -o-transform: rotateY( 320deg ) translateZ( 577px );
              transform: rotateY( 320deg ) translateZ( 577px );
    }