@import url(http://fonts.googleapis.com/css?family=Changa+One);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
section, footer, nav {
  display: block;
}

body {
	  -webkit-text-size-adjust: none;
	  background: #000632;
	  color: #333;
	  font-family: 'Helvetica Neue', Arial, sans-serif;
	  margin: 0;
	  padding: 0px;
	  width: 100%;
}

a {
	background: #1d1d1d;
  color: #6D8AFC;
  color: hsl( 220, 90%, 40% );
  font-family: 'open sans';
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  background-color: blue;
  background-color: hsl( 220, 90%, 50% );
  color: white;
}

#options {
  position: relative;
  z-index: 100;
  margin-bottom: 40px;
}

button {
  -webkit-appearance: push-button;
  cursor: pointer;
  
  width: 20%;
 
}


footer {
  border-top: 1px solid #CCC;
  color: #fff;
  font-family: 'open sans';
  font-size: 0.8em;
  position: relative;
  text-align: center;
  z-index: 100;
}

#disclaimer {
  color: red;
  font-weight: bold;
  display: none;
}
.no-csstransforms3d #disclaimer { display: block; }

/* hr {
  border: none;
  border-top: 1px solid #CCC;
} */

figure {
  margin: 0;
}

/* code {
  font-family: 'Monaco', 'Menlo', monospace;
} */

/* index navigation */

/* .index nav ul {
  list-style: none;
  margin: 0 0 3.0em 0;
  padding: 0;
}

.index nav ul a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #CCC;
  border-bottom: none;
}

.index nav ul li:first-child a {
  border-radius: 10px 10px 0 0;
}

.index nav ul li:last-child a {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #CCC;
}
 */
/**** Docs ****/

/* body.doc { max-width: 900px; }

.doc #content {
  font-size: 14px;  
  line-height: 1.5em;
}

.doc #content blockquote {
  margin-left: 0;
  padding: 0.8em;
  background: #EEE;
  background: hsla( 0, 0%, 0%, 0.04 );
}

.doc #content img {
  border: 1px solid #CCC;
  display: inline-block;
}

.doc #content pre {
  font-size: 12px;
  line-height: 1.5em;
} */

/* .doc nav h1 {
  font-size: 20px;
 
}

.doc nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.doc nav li a {
  display: block;
  padding: 0.3em 0;
}

.doc nav li.current a {
  font-weight: bold;
  color: #333;
}
.doc nav li.current a:hover { color: white; } */

.ch {
	display: none;
}
.margin-back {
/* 	padding-top: 5rem; */
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
}
.menu-li {
	display: inline-block;
}
.menu-a {
	color: #fff;
	font-size: 1.2rem;
	background: #25AF18;
	padding: .2rem .5rem;
	text-decoration: underline;
}
.rem-1,
.rem-2,

.rem-4,
.rem-5,
.rem-6,
.rem-7,
.rem-8,
.rem-9,
.rem-10,
.rem-11,
.rem-12,
.rem-13,
.rem-14,
.rem-15 {
	display: none;
	
}

.front {
	z-index: 200;
}
.back {
	z-index: 201
}
.explorer {
	display: none;
}

.contenedor2 {
		display: none;
	}

.stampa2 {
		display: none
	}

@media screen and (min-width: 768px) {

  body.doc #content {
    padding-left: 220px;
  }

  .doc #doc-nav-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .doc .doc-nav-positioner {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
  }

  .doc nav {
    width: 200px;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .doc nav h1 {
    margin-top: 0;
	
  }

}

/* proxy range */

/* .proxy-range {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 200px;
  border: 1px solid hsla( 0, 0%, 0%, 0.15 );
  background-color: hsla( 0, 0%, 0%, 0.02 );
  border-radius: 15px;
  box-shadow: inset 0 1px 7px hsla( 0, 0%, 0%, 0.3 );
}

.proxy-range.highlighted {
  background-color: hsla( 220, 90%, 50%, 0.15 );
}

.proxy-range .handle {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  position: absolute;
  top: -5px;
  left: -20px;
  background-color: hsla( 220, 70%, 60%, 1.0 );
  background-image: -webkit-gradient(radial, center 15%, 0, center 30%, 30, 
    from(            hsla( 0, 0%, 100%, 0.6 ) ),  
    color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ),
    color-stop( 50%, hsla( 0, 0%,   0%, 0.0 ) ),
    to(              hsla( 0, 0%,   0%, 0.5 ) )
  );
  background-image: -moz-radial-gradient(center 30%, cover,
    hsla( 0, 0%, 100%, 0.5 ),  
    hsla( 0, 0%, 100%, 0.0 ) 50%,
    hsla( 0, 0%,   0%, 0.0 ) 50%,
    hsla( 0, 0%,   0%, 0.5 )
  );
  box-shadow: 
    0  2px 0px -1px hsla( 0, 0%, 100%, 0.7 ) inset, 
    0 -4px 2px -1px hsla( 0, 0%,   0%, 0.1 ) inset, 
    0  1px 2px  0px hsla( 0, 0%,   0%, 0.3 )
  ;
  -webkit-transition-property: width, height, top, left, -webkit-border-radius;
     -moz-transition-property: width, height, top, left, -moz-border-radius;
  -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
}

.proxy-range.highlighted .handle {
  height: 98px;
  top: -35px;
  width: 4px;
  left: -3px;
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from(            hsla( 0, 0%, 100%, 0.6 ) ),  
    color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ),
    color-stop( 50%, hsla( 0, 0%,   0%, 0.0 ) ),
    to(              hsla( 0, 0%,   0%, 0.5 ) )
  );
  border-radius: 3px;
} */



/* .container2 {
		display: none;
	} */

/* .stampa3 {
		display: none;
	} */

#options{
	text-align: center;
	
}
#previous, #next {
	background: orange;
	border: 0;
	color: #fff;
	font-family: 'Changa One', cursive;
	position: fixed;
	top: 42%;
	box-shadow: inset 0 -4px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-size: 36px;
	padding-bottom: .5rem;
}
#previous:hover, #next:hover {
	background: #E88421;
	box-shadow: inset 0 -5px rgba(0,0,0,0.3);
}
#previous:active, #next:active {
	box-shadow: inset 0 -4px rgba(0,0,0,0.3);
	font-size: 35px;
}

#previous {
	left: 0
}
#next {
	right: 0
}


#video1 {
	position: fixed;
	left: 0;
	top: 0;
	/* min-height: 100%; */
	/* max-width: 100%; */
	/* width: auto;
	height: auto; */
	z-index: -10;
	visibility: visible;
	
}
.close {
	background: #000;
	bottom: .5rem;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	padding: .5rem;
	position: absolute;
	right: 5rem;
}
.comprar, .comprar2 {
	background: #6D8AFC;
	border: 0;
	color: #fff;
	margin: 0 auto;
	display: block;
}
.contenedor {
	text-align: center;
	width: 100%
}
.confirmacion {
	display: none;
	background: #6D8AFC;
	padding: 2rem 2rem;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 200;
}
.confirmacion figure{
	
	
	
}


.datos-envio {
	background: orange;
	bottom: 2rem;
	display: none;
	position: absolute;
	right: 14rem;
}
.datos-envio input {
	width: 13rem;
	margin-bottom: .5rem;
}
.form-envio {
	display: inline-block;
	vertical-align: top;
}

form.fuente-mas {
	
	width: 65%;
}
/* .confirmacion figure: last-child {
	display: inline;

} */
.eleccion, .remera {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	
}
.eleccion {
	background: rgba(255,255,255,.5);
	border-top: 5px solid #25AF18;
	padding: 1rem;
	
	
}


.empr-cc {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	margin-left: 15%;
}
.entrar-a {
	color: white;
	font-weight: 600;
}
.entrar {
	background: #AF4CA0;
	
	cursor: pointer;
	display: none;
	font-size: 2rem;
	padding: 1rem;
	/* transition: .5s; */
	/* position: fixed;
	right: 0;
	top: 42%; */
}
.entrar:hover {
	background: #25AF18;
	color: white;
}
.entrar-p {
	margin: 0;
}
.estampas {
	margin-right: 1rem;
	margin-top: 1rem;
	
}
.estampas .items {
	background: white;
	border: 2px dotted #6D8AFC;
	cursor: pointer;
	display: inline-block;
	margin: .3rem;	
	opacity: 1;
		
}
.fig {
	margin-top: .5rem;
	opacity: 1;
}
.girar {
	background: #25AF18;
	border: 0;
	color: #fff;
	font-size: 2rem;
	margin-top: 7rem;
}
.m-p {
	text-align: center;
}
.mercadopago {
	display: inline-block;
	vertical-align: middle;
	
	margin-left: 1rem;
	margin-right: 1rem;
}
nota-btn {
	
	width: 100%;
	
}
.nota {
	width: 80%;
	margin: 0 auto;
}
.nota-ca {
	background: orange;
	color: black;
}

.nota-p {
	color: white;
	font-size: 1.5rem;
}
.pago {
	color: #fff;
	background: #25AF18;
	font-family: 'open sans';
	margin: 1rem auto;
	width: 85%;
	padding-left: 1rem;
}
.puntos_bg {
	position: fixed;
	top: 0;
	background: url(../img/x.png);
	min-height: 100%;
	width: 100%;
	padding: 5px;
	
	max-width: 100%;
	z-index: -5;
	
}
.remeras {
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
	margin-left: 1rem;
	margin-right: 4rem;
}
.talle button {
	background: #AF4CA0;
	border: 0;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
	margin: 0;
	padding: 0;
	width: 22%;
	
}
.titulo-modelos h1 {
	background: orange;
	color: white;
	font-size: 2.5rem;
	padding: 1rem;
	
}
.titulo-pago h1 {
	
	margin: 0 auto;
	width: 85%;
}

#h1 {
	
	font-family: 'Changa One', cursive;
	/* position: relative; */
	
}

header {
	padding-left: 4rem;
	height: 75px;
	color: #fff;
}
#h1,.revolution, .remeras, .icon-woman_power {
	display: inline-block;
	vertical-align: middle;
	
}

.entrar-p a {
	color: white;
	background: transparent;
}
/* .revolution {
	line-height: 37px;
} */
.emprende {
	position: absolute;
	bottom: 0;
	right: 1rem;
	
}
.mapa {
	position: relative;
}
.mapa, .emprende-p {
	display: inline-block;
	vertical-align: top;
	margin-left: .7rem;
}
.emprende-p strong {
	color: #999;
	padding-bottom: .5rem;
	border-bottom: 1px solid #fff;
}
.circle {
		background: red;
		border: 1px solid #666;
		border-radius: 50%;
		height: 5px;
		position: absolute;
		right: 1.3rem;
		bottom: 2.9rem;
		width: 5px;
		-webkit-animation: 1s circle infinite;
-moz-animation: 1s circle infinite;
-o-animation: 1s circle infinite;
-ms-animation: 1s circle infinite;
		animation: 1s circle infinite;
}
@-webkit-keyframes state {
	0% // from
		width 0
	100% // to
		width 100%
}
@-webkit-keyframes circle {
	0%   {transform: scale(1)}
	100% {transform: scale(2);
		opacity: 0}
		
		}
		
@keyframes state {
	0% // from
		width 0
	100% // to
		width 100%
}
@keyframes circle {
	0%   {transform: scale(1)}
	100% {transform: scale(2);
		opacity: 0}
		
		}
		
		
		
@media screen and (max-width: 1230px) {
	.eleccion {
		width: 65%;
	}
	.remera {
		width: 30%;
	}
	 button.girar {
		width: 40%;
}

}

@media screen and (max-width: 1150px) {
	.entrar {
		top: 75%;
	}
}

@media screen and (max-width: 915px) {
	.menu-a {	
		font-size: 1rem;	
	}
	.remeras {
		display: none;
	}
}

@media screen and (max-width: 850px) {
	.gde {
		display: none;
	}
		
	.ch {
		display: block;
	}

	#previous, #next {	
		top: 25%;
		box-shadow: inset 0 -4px rgba(0,0,0,0.3);
		border-radius: 3px;
		font-size: 24px;
		padding-bottom: .5rem;
	}
	#previous:hover, #next:hover {
		background: #E88421;
		box-shadow: inset 0 -5px rgba(0,0,0,0.3);
	}
	#previous:active, #next:active {
		box-shadow: inset 0 -4px rgba(0,0,0,0.3);
		font-size: 23px;
	}
	.girar {		
		margin-top: 14rem;
	}
	.video {
		display: none;
	}

#next {

}
	.footer-home {
		width: 100%;
		position: fixed;
		bottom: 0;
		text-align: left;
		padding-left: 1rem;
	}
	
	.stampa {
		display: none
	}
	.stampa2 {
		display: block
	}
	.eleccion {
		width: 50%;
	}
	.remera {
		width: 45%;
	}
	button.comprar2 {
		width: 100%;
	}
	.text-align-left {
text-align: left	}
	
}
@media screen and (max-width: 790px) {
	
	
}
@media screen and (max-width: 760px) {
	.eleccion, .remera {
		width: 95%;
		/* display: block;	 */	
	}
	.contenedor {
		display: none;
	}
	.contenedor2 {
		display: block;
		text-align: center;
	}
	.girar {
		margin-top: 2rem;
	}
	.estampas {
		padding-left: 0;
	}
	.stampa {
		display: block
	}
	.pago {	
		font-size: 1.5rem;		
		width: 95%;
		font-weight: normal;	
	}
	.imagen2-m-p {
		display: none;
	}
	.titulo-pago h1{
		font-size: 1.2rem;		
		width: 95%;
		margin-top: 3rem;
	}
	.m-p {
	margin-bottom: 9rem;
}

}
	
@media screen and (max-width: 700px) {
	.revolution, .icon-woman_power {
		vertical-align: bottom;
	}
	.confirmacion {
		/* top: 0;
		max-height: 100% */
	}
	footer.footer-home{
		position: relative
	}
}
@media screen and (max-width: 580px) {
	#previous, #next {
	top: 30%;
	font-family: 'open sans';
	font-size: 20px;
	padding-bottom: .5rem;
	
}

	button {
		width: 28%;
		padding-left: .1rem;
		
	}

	
	.icon-woman_power {
		display: none;
	}
	.emprende {
		margin-bottom: 6rem;
	}
	.titulo-modelos h1 {
		font-size: 1.8rem;
	}
	.nota {
		width: 95%;
		margin-bottom: 5rem;
		margin-left: 1rem;
		
	}
	.nota-p {		
		font-size: 1rem;
	}
	.revolution {
		margin-top: 2.5rem;
	}
	.menu-a {	
		font-size: .8rem;	
	}
	/* .menu-li {	
		display: block;	
	} */
	.tienda-li, .home-li, .home-cont {
		display: none;
	}
	.footer-home {
		position: relative;
		margin-top: 8rem
	}
	.entrar {
		text-align: center
	}
}






@media screen and (min-width:0\0) {
    .ch, .gde, .ant-sig { 
		display: none;		
	}	
	header.exp-home {
		padding-top: 3rem;	
	}
	.revolution.exp-home {
		font-size: 4rem;
		
	}
	footer {
		margin-top: 37%;
	}
	.entrar {
		bottom: 8rem;
		right: 0;
		position: absolute;
		width: 18rem;
		
	}
	.footer-nohome {
		margin-top: 7%;
	}
	.girar {
		display: none;
	}
	
	
} 

@media screen and (min-width:0\0) and (max-width: 1200px) {
		.revolution.exp-home, .remeras.exp-home {
			display: block;	
			
		}
		.revolution.exp-home {
			font-size: 2.5rem;
		}
		
		.remeras.exp-home {
			font-size: 2.5rem;
		}
		.footer-home {
			width: 100%;
			position: fixed;
			bottom: 0;
			text-align: center;
			padding-left: 1rem;
	}

}
@media screen and (min-width:0\0) and (max-width: 740px) {
	.footer-home {				
		text-align: left;				
	}
	.revolution.exp-home {
			font-size: 1.8rem;
		}
		
	.remeras.exp-home {
		font-size: 1.8rem;
	}
	.talle {
		margin-top: 5rem;
	}
	
}
@media screen and (min-width:0\0) and (max-width: 580px) {
	header {
		text-align: center;
		padding-top: 13rem;
	}
	.header-mod-exp {
		padding-top: 1rem;
	}
	.revolution {
		margin-top: 1rem;
	}
	
}










