@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?oi2xlm');
	src:url('../fonts/icomoon.eot?#iefixoi2xlm') format('embedded-opentype'),
		url('../fonts/icomoon.woff?oi2xlm') format('woff'),
		url('../fonts/icomoon.ttf?oi2xlm') format('truetype'),
		url('../fonts/icomoon.svg?oi2xlm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-woman_power:before {
	content: "\e600";
	font-size: 6rem;
	
}

@media screen and (min-width:0\0) {    
	.icon-woman_power.exp-home:before {		
		font-size: 32rem;		
	}	
} 

@media screen and (min-width:0\0) and (max-width: 1200px) {
		.icon-woman_power.exp-home:before {		
		font-size: 24rem;		
	}	
}
@media screen and (min-width:0\0) and (max-width: 740px) {
		.icon-woman_power.exp-home:before {		
		font-size: 18rem;		
	}	
}
@media screen and (min-width:0\0) and (max-width: 580px) {
		.icon-woman_power.exp-home:before {		
			margin-top: 5rem;
			display: block;			
		}	
		.icon-woman_power.exp-home:before {		
		font-size: 10rem;		
	}	
		header {
			padding-left: 0
		
		}
}

